    .center-title{
   text-align: center;
    }

    .contain{

            padding: 10px;
            border: 3px solid #ab978c;
            display: inline-block;
        
    }

    .contain ul{
        text-align: left;
    }

    body{
        background-color: #6b7c98;
    }

    h1{
        color: #5e5653;
    }
    h2{
        color: #5e5653;
    }

    p{
        color: #e9e6e7;
    }

    li{
        color: #e9e6e7;
    }

    
.playfair-display-632 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 478;
  font-style: normal;
}


.libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}